doctype html
html
  head
    title Notebook Viewer
    style(type="text/css").
      html, body {
        height: 100%;
        margin: 0;
      }

      body {
        background: #fafafa;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

      .pages {
        display: flex;
      }

      .page-number {
        text-align: center;
        margin-bottom: .5rem;
      }

      .page-svg {
        background: #fff;
        box-shadow: 0 0 4px rgba(0,0,0,0.05);
        border: 1px solid #ddd;
      }

      .page-container:not(:last-child) {
        margin-right: .5rem;
      }

      .btn-container {
        display: flex;
        margin-top: 1rem;
      }

      .btn {
        display: block;
        text-decoration: none;
        color: white;
        background: salmon;
        border-radius: .25rem;
        padding: .5rem 1rem;
        box-shadow: 0 0 4px rgba(0,0,0,0.1);
      }

      .btn.disabled {
        opacity: .5;
        pointer-events: none;
      }

      .btn:hover:not(.disabled) {
        background: pink;
        color: salmon;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
      }

      .btn:not(:last-child):not(.btn-back) {
        margin-right: .5rem;
      }

      .btn-back {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .btn-forward {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

    script.
      const ws = new WebSocket('#{wsUrl}')
      ws.onmessage = event => {
        console.log('reload received')
        location.reload();
      }

  body
    .pages
      each page in pages
        .page-container
          .page-number= `page ${page.num}/${length}`
          .page-svg !{page.svg}
    .btn-container
      if pages[0].num > 1
        a.btn.btn-first(href="/1") first
      else
        a.btn.btn-first.disabled(href="/1") first
      if prevPage > 0
        a.btn.btn-back(href=`/${prevPage}`) back
      else
        a.btn.btn-back.disabled(href="#") back
      if nextPage <= length
        a.btn.btn-forward(href=`/${nextPage}`) next
      else
        a.btn.btn-forward.disabled(href="#") next
      if pages[pages.length-1].num < length
        a.btn.btn-last(href=`/${length}`) last
      else
        a.btn.btn-last.disabled(href=`/${length}`) last
